[Service]
WorkingDirectory = /home/isucon/private_isu/webapp/python
EnvironmentFile = /home/isucon/env.sh

ExecStart = /home/isucon/private_isu/webapp/python/venv/bin/gunicorn --workers=6 app:app -b '127.0.0.1:8080'

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
